* {
  padding: 0px;
  margin: 0px;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.box {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, blue, red);
  /* border-radius: 50%; */
  /* animation: name duration timing-function delay iteration-count direction animation-fill-mode animation-play-state; */
  animation: ayush 2s linear 0s infinite alternate;
  /* backwards-> state before the animation starts */
}
.box-2 {
  width: 100px;
  height: 100px;
  background-image: blue;
  /* border-radius: 50%; */
  /* animation: name duration timing-function delay iteration-count direction animation-fill-mode animation-play-state; */
  animation: ayush 2s linear 0s infinite alternate;
  /* backwards-> state before the animation starts */
}

.box-3 {
  width: 300px;
  height: 100px;
  position: relative;
  font-size: 30px;
  background-color: blue;
  color: white;
  border: 10px;
  animation: ayush 1s ease-out 2 alternate 0s forwards;
}
@keyframes ayush {
  0% {
    left: -300px;
  }
  100% {
    left: 1000px;
  }
}

.loader {
  position: absolute;
  left: 40%;
  top: 40%;
  margin: auto;
  border: 10px solid lightgrey;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 10px solid black;
  animation: ghoomo 1s infinite linear;
}

@keyframes ghoomo {
  100% {
    transform: rotate(360deg);
  }
}

.siren {
  width: 200px;
  height: 300px;
  border-radius: 50% 50% 0px 0px;
  border: 5px solid lightgray;
  animation: mysiren 1s linear alternate infinite;
}
@keyframes mysiren {
  0% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}

.basketball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: orangered;
  animation: bouncing 1s ease-out 0s alternate infinite;
}

@keyframes bouncing {
    100%{
        height: 170px;
        transform: translateY(300px);
        box-shadow: 0px 50px 100px black;
    }
}
.clock-border{
    width: 300px;
    height: 300px;
    border: 20px solid black;
    position: relative;
    border-radius: 50%;
    background: url("./clock.png");
    background-position: center;
    background-size: contain;
}
.hour-needle{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin:50% 100%;
    width: 5px;
    height: 50px;
    background-color: green;
    animation: needle 86400s linear 0s infinite;
    border-radius: 50%;
}
.minutes-needle{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin:50% 100%;
    width: 5px;
    height: 120px;
    background-color: blue;
    animation: needle 3600s linear 0s infinite;
    border-radius: 50%;
}
.seconds-needle{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin:50% 100%;
    width: 5px;
    height: 150px;
    background-color: red;
    animation: needle 60s steps(60,end) 0s infinite;
    border-radius: 50%;
}

@keyframes needle {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(450deg);
    }
}

.card-1{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: blue;
    padding: 10px;
    position: relative;
    animation: movingshadow 1s linear 0s infinite alternate;
}

.background{
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, #5ddcff, #3c67e3 43%, #4e00c2);
    animation: flow 1s linear 0s infinite alternate;
}
.card-body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}
@keyframes flow {
    0%{
    }
    100%{
        top:-100%;
    }
    
}

@keyframes movingshadow {
    0%{
        box-shadow: -10px -10px 100px blue;
    }
    25%{
        box-shadow: -10px 10px 100px blue;
    }
    50%{
        box-shadow: 10px 10px 100px blue;
    }
    100%{
        box-shadow: 10px -10px 100px blue;
    }
   
}

